<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/auth.css">
    <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="container__input">
      <input placeholder="      Логин" type="text">
      <input placeholder="      Пароль" type="text"> 
    </div>
    <div class="container__action">
      <button onclick="window.location.href='index.html'">войти</button>
      <form method="post">
        <label>Имя</label><br>
        <input type="text" name="userName" /><br><br>
        <label>Возраст</label><br>
        <input type="text" name="userPassword" /><br><br>
        <input type="submit" value="Отправить" />
    </form>
    </div>
  </div>
</body>
</html>